@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

time {
  color: white;
}

h1, h2, h3, h4, h5 {
  color: white;
}

html, body, main, header {
  background: #202124;
}

a {
  border-bottom: 3px solid #50fa7b;
  color: white;
  text-decoration: underline;
}

span {
  color: #50fa7b;
}

p {
  color: #999;
}

a:hover {
  background-color: #50fa7b;
  color: black;
  text-decoration: none;
}

#main-title {
  font-size: 1.4em;
  font-weight: 800;
  border-bottom: 3px solid #50fa7b;
}

.blog-post h1,
.page h2  {
  font-size: 2em;
}

#posts h2 {
  font-size: 1.4em;
  font-weight: 800;
}
